// CPU
NET clk  LOC=P54;
NET btn0 LOC=P69;
NET sw0  LOC=P38;
NET btn3 LOC=P41;
NET ld0  LOC=P15;
NET ld2  LOC=P8;
NET ld1  LOC=P14;

// Segmented Display
NET ca LOC=P25;
NET cb LOC=P16;
NET cc LOC=P23;
NET cd LOC=P21;
NET ce LOC=P20;
NET cf LOC=P17;
NET cg LOC=P83;
NET dp LOC=P22;
NET aa LOC=P34;
NET ab LOC=P33;
NET ac LOC=P32;
NET ad LOC=P26;